#filter-label {
    top: 0;
}

#map {
    height: 100%;
    overflow: hidden;
    padding-bottom: 100%;
    padding-top: 30px;
    position: relative;
}

h4 {
    color: #6666bb;
}

#hamburger-icon {
    font-size: 1.4em;
    padding-top: 12px;
}

.info-place-name {
    font-size: 200%;
    font-weight: bold;
    color: #6666ff;
}

.info-picture {
    max-height: 200px;
}